body {
	font-family: 'Bitter', serif;
	background-color: rgba(14, 214, 241, 1);
}
.plain-list{
	list-style: none;
}
#ProfileImage{
	width: 300px;
	float: right;
}
p {
	color: white;
}

a:hover {
	color: purple;
}

@media (max-width: 400px){
	#ProfileImage{
		width: 120px;
	}
}